{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador de Frases</title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/neon.css' %}" rel="stylesheet">
</head>
<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <div class="p-5 bg-light mb-3" id="cita">{{ cita }}</div>
        <div>
            <a class="btn btn-light" id="btn" href="">Leer más</a>
        </div>
    </div>
</body>
</html>